
:root {
  --background-color: #000000;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}


.btngrad {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
  margin: 10px;
  padding: 15px 45px;
  
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  box-shadow: 0 0 20px #c03a3a;
  color: white;            
  background-size: 200% auto;
  border-radius: 10px;
  display: block;
}

.btngrad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

         
.btn-grad {
  background-image: linear-gradient(to right, #D38312 0%, #A83279  51%, #D38312  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;